.topbar {
    position: fixed;
    background-color: #440997e5;
    height: 50px;
    width: 100%;
}

.sub-topbar, .topbar-row {
    height: 100%;
}

.home-link-container {
    padding: 10px 15px;
}

.status {
    color: white;
    font-weight: bold;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.list-item {
    font-weight: bold;
    list-style-type: none;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
}

.list-link {
    color: white;
}

.list-link:hover {
    color: rgb(90, 241, 20);
    text-decoration: none;
}

.home-link {
    color: white;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.home-link:hover {
    color: rgb(90, 241, 20);
    text-decoration: none;
}

.auctions {
    margin-top: 30px;
    margin-bottom: 0;
    color: white;
}

.menu {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: calc(100vh - 50px);
}

.side-menu {
    width: 100%;
    height: 100;
    position: fixed;
}

.menu-list {
    padding-left: 0;
}

.search {
    background-color: transparent !important;
    height: 40px;
    left: 30%;
    display: inline-flex;
}

@media (min-width: 0px) {
    .search {
        left: 0%;
    }
}

@media (min-width: 576px) {
    .search {
        left: 10%
    }
}

@media (min-width: 992px) {
    .search {
        left: 40%
    }
}

@media (max-width: 767px) {
    .side-menu {
        position: static;
    }
}

.search-bar, .search-button {
    height: 30px;
}

.main-body-container {
    position: relative;
    top: 50px;
}

.listings {
    /* padding: 10px; */
    position: absolute;
    text-align: center;
    left: 33.333333%;
    z-index: -1;
}

.listing {
    border: 1px solid rgba(0, 0, 0, 0.411);
    height: 350px;
    margin-bottom: 15px;
    border-radius: 3px;
}

#active-listings {
    margin-bottom: 25px;
}

.image-container {
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid black; */
}

.info-container {
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid black; */
}

.info {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    color: #440997e5;
}

.info-top {
    margin-top: 50px;
    font-size: 25px;
}

.image {
    width: 100%;
    height: 100%;
}

.image-instruction {
    margin-bottom: 8px;
}

.listing-image-container {
    margin-top: 25px;
}

.nav-item {
    padding-left: 0;
    padding-right: 0;
}

/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900'); */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #eee;
    color:#666;
}

.login-container{
    height: calc(100vh - 50px);
    width: 100%;
}

.login-form{
    margin: auto;
    width: 370px;
    padding: 15px;
    max-width: 100%;
}

.login-form .form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.login-form a{
    text-decoration: none;
    color:#666;
}

.login-form a:hover{
    color:#723dbe;
}

.forgot-link{
    font-size: 13px;
}

.form-control:focus{
    border-color:#723dbe;
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

.btn-custom{
    background: #723dbe;
    border-color:#723dbe;
    color:#fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
    background: #54229d;
    border-color: #54229d;
    color:#fff;
}

.btn-custom:focus{
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}