.image-instruction {
    margin-bottom: 8px;
}

/* .listing-image-container {
    margin-top: 25px;
} */

.listing-profile-image-container {
    margin: 0px 15%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    max-width: 70%;
}

/* .listing-profile {
    /* border: 1px solid black; */
    /* color: #54229d;
} */

.listing-main-details {
    padding: 25px;
    margin: 15px 0px;
}

.listing-sub-details {
    text-align: left;
    color:#723dbe;
}

.listing-name, .watchlist-btn {
    position: relative;
}

.listing-created {
    position: fixed;
    width: 100%;
    top: 80px;
    text-align: center;
}

.listing-created-options {
    position: relative;
    top: 150px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.bidding {
    /* position: relative;
    right: 25px; */
    color: #54229d;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 50px;
}

.bids-placed {
    margin-bottom: 5px;
    /* padding-left: 0px; */
    /* position: relative;
    right: 10px; */
}

/* .bid {
    position: relative;
    right: 10px;
    padding-left: 25px;
} */

.value-red {
    color: red;
}

.value-green {
    color: green;
}

.watchlist-btn {
    padding: 2px 12px;
    font-size: 0.65rem;
}

.watchlist-container {
    position: absolute;
    top: 70px;
    left: 140px;
}

.listing-details-heading {
    position: relative;
    right: 33%;
    top: 40px;
}

.listing-profile-image {
    width: 100%;
    height: 100%;
}

.listing-name {
    text-align: left;
    /* display: block; */
    color:#723dbe;
    margin: 12px;
}

.comment-form {
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
}

.comment-form-input {
    width: 100%;
    height: 100px;
}

.comment-form-btn {
    float: right;
    position: relative;
    right: 16px;
}

.comment {
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

/* .nav-item {
    padding-left: 0;
    padding-right: 0;
} */