{% extends "auctions/main-layout.html" %}

{% load static %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <div class="container-fluid main-body-container">
        <div class="row main-body">
            <div class="col-12 col-md-4 menu">
                {% include "auctions/sub-layout.html" %}
            </div>

            <div class="col-12 col-md-8 listings">
                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/arts-and-crafts.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Arts & Crafts</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>

                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/automotive.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Automotive</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/baby.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Baby</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/beauty-and-personal-care.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Beauty and Personal Care</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/computers.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Computers</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/electronics.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Electronics</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/fashion.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Fashion</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/health-and-household.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Health and Household</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/home-and-kitchen.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Home and Kitchen</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/industrial-and-scientific.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Industrial and Scientific</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/movies-and-television.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Movies and Television</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/pet-supplies.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Pet supplies</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/software.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Software</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/sports-and-outdoors.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Sports and Outdoors</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/tools-and-home-improvements.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Tools and Home Improvements</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/toys.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Toys</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>

                <div class="row category-container">
                    <div class="col-6 category">
                        <div class="category-image-container">
                            <img class="category-image" src="{% static 'auctions/images/video-games.jpg' %}">
                        </div>
                        <div class="category-info">
                            <div style="height: 50%;">Video Games</div>
                            <div class="category-btn-container"><button class="btn btn-success">View Category</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}