{% extends "auctions/main-layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <div class="container-fluid main-body-container">
        <div class="row main-body">
            <div class="col-12 col-md-4 menu">
                {% include "auctions/sub-layout.html" %}
            </div>

            <div class="col-12 col-md-8 listings">
                <div class="d-flex justify-content-center align-items-center login-container">
                    <form action="{% url 'create_listing' %}" class="login-form text-center" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <h1 class="mb-5 font-weight-light text-uppercase">Create Listing</h1>
                        <div class="form-group item-input">
                            <input type="text" autofocus class="form-control rounded-pill form-control-lg" placeholder="Title of listing" name="title" required>
                        </div>
                        <div class="form-group item-input">
                            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Description of listing" name="description" required>
                        </div>
                        <div class="form-group item-input">
                            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Starting bid" name="bid" required>
                        </div>
                        <div class="form-group item-input">
                            <input class="form-control rounded-pill form-control-lg" name="category" list="categories" placeholder="Listing Category">
                            <datalist id="categories">
                                <option value="Arts & Crafts">
                                <option value="Automotive">
                                <option value="Baby">
                                <option value="Beauty and Personal Care">
                                <option value="Computers">
                                <option value="Electronics">
                                <option value="Fashion">
                                <option value="Health and Household">
                                <option value="Home and Kitchen">
                                <option value="Industrial and Scientific">
                                <option value="Luggage">
                                <option value="Movies and Television">
                                <option value="Pet supplies">
                                <option value="Software">
                                <option value="Sports and Outdoors">
                                <option value="Tools and Home Improvements">
                                <option value="Toys">
                                <option value="Video Games">
                            </datalist>
                        </div>
                        <div class="listing-image-container">
                            <p class="image-instruction">Choose the image file to use for this listing</p>
                            <input type="file" name="image">
                        </div>
                        
                        <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Create Listing Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}