{% extends "auctions/main-layout.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container-fluid main-body-container">
        <div class="row">
            <div class="col-12 col-md-4 menu">
                {% include "auctions/sub-layout.html" %}
            </div>

            <div class="col-12 col-md-8 listings">
                <h2 id="active-listings">Active Listings</h2>
                {% for listing in listings %}
                    <div class="listing">
                        <a href="{% url 'listing' %}">
                            <div class="image-container"><img class="image" src="{% static 'auctions/bronze_award.jpg' %}" alt="Image of a product"></div>
                            <div class="info-container">
                                <p class="info info-top"><strong>{{ listing.name }}</strong></p>
                                <p class="info"><strong>Category: </strong>{{ listing.category }}</p>
                                <p class="info"><strong>Description: </strong>{{ listing.description }}</p>
                                <p class="info"><strong>Price: </strong>${{ listing.price }}</p>
                                <p class="info"><strong>Date Created: </strong>{{ listing.time_auctioned }}</p>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <h3>There are no active listings</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}