{% extends "auctions/main-layout.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 menu">
                {% include "auctions/sub-layout.html" %}
            </div>

            <div class="col-12 col-md-8 listings">
                <h2 id="active-listings">Active Listings</h2>
                <div class="listing">
                    <a href="#">
                        <div class="image-container"><img class="image" src="{% static 'auctions/bronze_award.jpg' %}" alt="Image of a product"></div>
                        <div class="info-container">
                            <p class="info info-top"><strong>T-shirt</strong></p>
                            <p class="info"><strong>Category: </strong>Computers</p>
                            <p class="info"><strong>Description: </strong>A nice shirt</p>
                            <p class="info"><strong>Price: </strong>$70.00</p>
                            <p class="info"><strong>Date Created: </strong>20-Feb-2020</p>
                        </div>
                    </a>
                </div>

                <div class="listing">
                    <a href="#">
                        <div class="image-container"><img class="image" src="{% static 'auctions/bronze_award.jpg' %}" alt="Image of a product"></div>
                        <div class="info-container">
                            <p class="info info-top"><strong>T-shirt</strong></p>
                            <p class="info"><strong>Category: </strong>Computers</p>
                            <p class="info"><strong>Description: </strong>A nice shirt</p>
                            <p class="info"><strong>Price: </strong>$70.00</p>
                            <p class="info"><strong>Date Created: </strong>20-Feb-2020</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}