{% extends "auctions/main-layout.html" %}

{% block title %}
    Listing Created
{% endblock %}

{% block body %}
    <h3 class="listing-created">Your listing has been created</h3>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-12 listing-created-options">
                <a href="{% url 'create_listing' %}">Create another listing</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-12 listing-created-options">
                <a href="{% url 'index' %}">Go to home</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-12 listing-created-options">
                <a href="{% url 'user_listings' user.id %}">View my listings</a>
            </div>
        </div>
    </div>
{% endblock %}