{% extends "auctions/main-layout.html" %}

{% load static %}

{% block title %}
    Listing
{% endblock %}

{% block body %}
    <div class="container-fluid main-body-container">
        <div class="row">
            <div class="col-12 col-md-4 menu">
                {% include "auctions/sub-layout.html" %}
            </div>

            <div class="col-12 col-md-8 listings">
                <div class="listing-profile">
                    <div class="listing-profile-image-container">
                        <img class="listing-profile-image" src="{% static 'auctions/bronze_award.jpg' %}" alt="Image of a product">
                    </div>

                    <div class="listing-main-details">
                        <h2 class="listing-name"><strong>Listing:</strong> {{ listing.name }}</h2>
                        {% if user.is_authenticated %}
                            <button type="submit" class="watchlist-btn btn btn-success">Add to watchlist</button>
                        {% endif %}
                        <h3 class="listing-details-heading">Details</h3>
                        <div class="listing-sub-details">
                            <p><strong>Price: </strong>${{ listing.price }}</p>
                            <p><strong>Listed by: </strong>{{ user_created }}</p>
                            <p><strong>Category: </strong>{{ listing.category }}</p>
                            <p><strong>First posted: </strong>{{ listing.time_auctioned }}</p>
                            <p><strong>Last updated: </strong>{{ listing.last_updated }}</p>
                        </div>
                    </div>
                </div>

                <div class="bidding">
                    <p class="bids-placed"><strong style="position: relative; left:20px">2 bids placed so far, your bid is the current bid</strong></p>
                    {% if user.is_authenticated %}
                        <div class="bid">
                            <p style="margin-bottom: 0;">Recommended format <strong class="value-green">40.00</strong> <strong>NOT</strong> <strong class="value-red">$40.00</strong></p>
                            <form action="{% url 'bid' listing.id user.id %}" method="post"></form>
                                {% csrf_token %}
                                
                                <input type="text" name="bid" autofocus placeholder="Enter your bid">
                                <button type="submit" class="btn btn-success">Place bid</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                
                <p style="text-align: left;"><strong>Description: </strong>{{ listing.description }}</p>

                <div class="comments-container">
                    {% if user.is_authenticated %}
                        <form action="{% url 'comment' listing.id user.id %}" class="comment-form" method="post">
                            {% csrf_token %}

                            <textarea class="comment-form-input" name="comment" placeholder="Enter comment here"></textarea>
                            <button type="submit" class="comment-form-btn btn btn-success">Post comment</button>
                        </form>
                    {% endif %}

                    <ul class="comments">
                        <li class="comment">Comment #1</li>
                        <li class="comment">Comment #1</li>
                        <li class="comment">Comment #1</li>
                        <li class="comment">Comment #1</li>
                        <li class="comment">Comment #1</li>
                        <li class="comment">Comment #1</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}