<div class="side-menu">
    <h2 class="auctions">Auctions</h2>
    {% if user.is_authenticated %}
        <div class="status">Signed in as <strong>{{ user.username }}</strong>.</div>
    {% else %}
        <div class="status">Not signed in.</div>
    {% endif %}

    <hr>

    <ul class="menu-list">
        {% if not user.is_authenticated %}
            <li class="list-item"><a class="list-link" href="{% url 'login' %}">Log In</a></li>
            <li class="list-item"><a class="list-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}

        <li class="list-item"><a class="list-link" href="{% url 'index' %}">Active Listings</a></li>
        <li class="list-item"><a class="list-link" href="{% url 'categories' %}">Categories</a></li>

        {% if user.is_authenticated %}
            <li class="list-item"><a class="list-link" href="{% url 'watchlist' %}">My Watchlist</a></li>
            <li class="list-item"><a class="list-link" href="{% url 'create_listing' user.id %}">Create Listing</a></li>
            <li class="list-item"><a class="list-link" href="{% url 'user_listings' user.id %}">My Listings</a></li>
            <li class="list-item"><a class="list-link" href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
    </ul>
</div>