{% extends "auctions/main-layout.html" %}

{% load static %}

{% block title %}
    My Listings
{% endblock %}

{% block body %}
    <div class="container-fluid main-body-container">
        <div class="row main-body">
            <div class="col-12 col-md-4 menu">
                {% include "auctions/sub-layout.html" %}
            </div>

            <div class="col-12 col-md-8 listings">
                <h2 id="active-listings">My Listings</h2>
                {% for listing in listings %}
                    <div class="listing">
                        <a href="{% url 'listing' listing.id %}">
                            {% if listing.image %}
                                <div class="image-container"><img class="image" src="{{ listing.image.url }}" alt="Image of product"></div>
                            {% else %}
                                <div class="image-container"><img class="image" src="" alt="Image of product"></div>
                            {% endif %}
                            <div class="info-container">
                                <p class="info info-top"><strong>{{ listing.name }}</strong></p>
                                <p class="info"><strong>Category: </strong>{{ listing.category }}</p>
                                <p class="info"><strong>Description: </strong>{{ listing.description }}</p>
                                <p class="info"><strong>Price: </strong>${{ listing.price }}</p>
                                <p class="info"><strong>Date Created: </strong>{{ listing.time_auctioned }}</p>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <h3>You have no listings</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}